body {
    margin: 15px;
    border: 10rem;
    background-color: #F7F9F9;
    font-family: 'Exo 2', sans-serif;
}

/* This is to have a general header and footer */
div.headfoot {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    text-align: center;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

/* Sets a maximum width for page content and center aligns: Implemented in body now */
/* .wrapper {
    margin: 0 auto;
    max-width: 960px;
} */

/* Styling for the question set box */
.question_set {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 1820px;
    position: relative;
}

/* Styling for each question block */
.question_block {
    border-bottom: 2px solid grey;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 90%;
    max-height: 10%;
}

h4.question_number {
    text-decoration: underline;
}

/* Button class */
.selection_button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Test dropdown menu */
.dropdown-test {
    position: relative;
    display: inline-block;
}

/* Menu of tests to select */
.test-selection {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Test Selection menu links */
.test-selection a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.test-selection a:hover {
    background-color: #f1f1f1
}

.dropdown-test:hover .test-selection {
    display: block;
}

.dropdown-test:hover .selection_button {
    background-color: #3e8e41;
}

/* Section for test submission below questions */
#Test_Submission {
    text-align: center;
}

/* Test submit button */
#submit_test_btn {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

 /* Accordion button styling*/
 .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
  }
  
  /* Background color for hovered or clicked accordion buttons */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Styling for panel underneath accordion buttons */
  .panel {
    padding: 0 18px;
    margin: 0px;
    border: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out; /* animate accordion dropdown */
  }

  /* display '+' when accordion button collapsed */
  .accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  /* display '-' when accordion button opened */
  .active:after {
      content: "\02796";
  }

  table {
      border-collapse: collapse;
      width: 100%;
      margin: 10px 0px;
  }

  table, th, td {
      border: 1px solid black;
  }

  th, td {
      padding: 10px;
  }