body  {
  margin: 15px;
  border: 10rem;
  font-family: 'Exo 2', sans-serif;
  font-size: medium;
  /* use different font */
  background-color: #F7F9F9;
  /* line-height: normal; */
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  text-shadow: 0 0 5px rgba(19, 231, 72, 0.877);
  background-color: rgba(24, 16, 16, 0.548);
  color: white;
}

/* main footer with contact info - appears on all pages */
div.headfoot {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 1rem;
  text-align: center;
  max-width: 1024px;
}

.content    {
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  max-width: 1024px;
}

/* block of information for each author */
.author_block {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding-left: 10px;
  margin-bottom: 25px;
}

.author_block p {
  line-height: 1.6em;
}

.important_heading  {
  font-size: xx-large;
  text-align: center;
}
.important  {
  text-align: center;
}

/* Text that stands out on page */
span {
  display: inline-block;
  color: rgb(3, 95, 216);
  font-size: 1.00em;
  line-height: normal;
}

/* contact links on authors page */
a.glyphicon {
  color: #726b71;
  text-decoration: none;
  padding-right: 8px;
}

/* hover and active effects for contact links */
.contact_links a:hover, .contact_links a:active {
  color: #09c;
  text-decoration: none;
}

.page_heading{
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
}

.sub_heading {
  font-weight: bold;
}

/* effects for main content on each page */
.text_basis  {
  box-shadow:
  0 2.5px 2.5px rgba(17, 17, 17, 0.035),
  0 6.5px 5.0px rgba(17, 17, 17, 0.045),
  0 12.5px 10px rgba(17, 17, 17, 0.06),
  0 22.5px 18.0px rgba(17, 17, 17, 0.075),
  0 42.0px 33.5px rgba(17, 17, 17, 0.080),
  0 100px 80px rgba(17, 17, 17, 0.12)
  ;
  background-color: white;
  height: auto;
  border: 1px solid #eee;
  border-radius: 15px 15px 15px 15px;
}

/* input boxes on login, registration, admin pages */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
}

input:focus {
  box-shadow: 0 0 2px 2px rgba(223, 34, 230, 0.747);
  transition: box-shadow ease-in-out .15s;
}

/* radio buttons for multi-choice answers */
input[type=radio] {
  margin-right: 5px;
  margin-left: 10px;
  text-align: left;
}

/* used for the Question Body entry */
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

textarea:focus  {
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(252, 153, 5, 0.87);
  transition: box-shadow ease-in-out .15s;
}

a:hover {
  color: red;
}

table {
  border-collapse: separate;
  width: 100%;
  border-radius: 10px;
}

table.answer_table {
  border-collapse: separate;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

table.answer_table th, table.answer_table td {
  border: 0.5px  solid rgba(36, 31, 31, 0.562);
  width: fit-content;
  text-align: center;
  padding: 8px;
}


th, td {
  text-align: center;
  padding: 8px;   
}

th {
  background-color: #E67E22;
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #e6e0dc;
}

/* buttons to submit data */
input[type=button], input[type=submit]  {
  background-color: rgba(19, 231, 72, 0.877);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* button on login page */
.login_btn {
  width: 100px;
  height: 50px;
  font-size: large;
}

/* button of timer */
#timer_btn {
  background-color: rgba(19, 231, 72, 0.877);
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.question_number {
  font-weight: bold;
}

/* block for each question on test page */
.question_block {
  border-top: 1px solid #eee;
  margin-top: 10px;
  margin-bottom: 20px;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}