{% extends "base.html" %}

{% block content %}
    <h1>Add Question Set</h1>
    <p>Hi Administrator <span>{{current_user.username}}</span>. Use this page to add new Question Sets, and attach questions to it</p>
    <br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.questionset.label }}<br>
            {{ form.questionset(size=256) }}<br>
            {% for error in form.questionset.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.questions.label }}<br>
            {{ form.questions() }}<br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}