{% extends "base.html" %}

{% block content %}
    <h1>Add Questions</h1>
    <p>Hi Administrator <span>{{current_user.username}}</span>. Use this page to edit and add questions</p>
    <br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.body.label }}<br>
            {{ form.body(size=256) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.correctAnswer.label }}<br>
            {{ form.correctAnswer(size=64) }}<br>
            {% for error in form.correctAnswer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.answer2.label }}<br>
            {{ form.answer2(size=64) }}<br>
            {% for error in form.answer2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.answer3.label }}<br>
            {{ form.answer3(size=64) }}<br>
            {% for error in form.answer3.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.answer4.label }}<br>
            {{ form.answer4(size=64) }}<br>
            {% for error in form.answer4.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}