<!-- Details about the authors of the website -->

{% extends "base.html" %}

{% block content %}
    <!-- <h1>Hi, this page with be used for displaying details about the authors of the website </h1> -->
    <h3 class="page_heading">Authors</h3>
    <div class="author_block">
        <h4 class="sub_heading">Adam Inskip</h4>
        <p>
            <b>University:</b> University of Rochester<br>
            <b>Degree:</b> B.S. Mechanical Engineering<br>
            <b>Major/s:</b> Mechanical Engineering, Computer Science<br>
        </p>
        
        <div class="contact_links">
            <p><b>Contact Adam:</b><br>
                <a href="https://www.linkedin.com/in/adaminskip/" target="_blank" class="glyphicon"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:40px"></i></a>
                <a href="mailto:22929581@student.uwa.edu.au" target="_blank" class="glyphicon"><i class="fa fa-envelope-square" aria-hidden="true" style="font-size:40px"></i></a>
                <a href="https://github.com/inskippy" target="_blank" class="glyphicon"><i class="fa fa-github" aria-hidden="true" style="font-size:40px"></i></a>
            </p>
        </div>
    </div>

    <div class="author_block">
        <h4 class="sub_heading">Craig Huggins</h4>
        <p>
            <b>University:</b> University of Western Australia<br>
            <b>Degree:</b> Bachelor of Science<br>
            <b>Major/s:</b> Data Science, Finance<br>
        </p>
        
        <div class="contact_links">
            <p><b>Contact Craig:</b><br>
                <a href="https://www.linkedin.com/in/craig-huggins-147946b3/" target="_blank" class="glyphicon"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:40px"></i></a>
                <a href="mailto:22204675@student.uwa.edu.au" target="_blank" class="glyphicon"><i class="fa fa-envelope-square" aria-hidden="true" style="font-size:40px"></i></a>
                <a href="https://github.com/craighuggins" target="_blank" class="glyphicon"><i class="fa fa-github" aria-hidden="true" style="font-size:40px"></i></a>
            </p>
        </div>
    </div>

    <div class="author_block">
        <h4 class="sub_heading">Swastik Raj Chauhan</h4>
        <p>
            <b>University:</b> University of Western Australia<br>
            <b>Degree:</b> Bachelor of Science<br>
            <b>Major/s:</b> Computer Science, Data Science<br>
        </p>
        
        <div class="contact_links">
            <p><b>Contact Swastik Raj:</b><br>
                <a href="https://www.linkedin.com/in/swastik-raj-chauhan-623164162/" target="_blank" class="glyphicon"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size:40px"></i></a>
                <a href="mailto:22556239@student.uwa.edu.au" target="_blank" class="glyphicon"><i class="fa fa-envelope-square" aria-hidden="true" style="font-size:40px"></i></a>
                <a href="https://github.com/quasarswastik" target="_blank" class="glyphicon"><i class="fa fa-github" aria-hidden="true" style="font-size:40px"></i></a>
            </p>
        </div>
    </div>
{% endblock %}
