
<!doctype html>
<html lang="en">

    <head>
        {% if title %}
        <title>{{ title }} - Project 2 Quiz</title>
        {% else %}
        <title>Welcome to the Project 2 Quiz</title>
        {% endif %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/UWA.png') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="CITS3403 Project 2">
        <meta name="author" content="co-authored by Craig Huggins, Swastik Raj Chauhan, Adam Inskip">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Exo+2&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main_2.css') }}">

        <script src="{{ url_for('static', filename='javascript/timer.js') }}"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Quiz</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
                    <li><a href="{{ url_for('take_test') }}" class="nav-link">Take Test</a></li>
                    <li><a href="{{ url_for('results') }}" class="nav-link">Results</a></li>
                    <li><a href="{{ url_for('test_history') }}" class="nav-link">Test History</a></li>
                    <li><a href="{{ url_for('authors') }}" class="nav-link">Authors</a></li>
                    <li><a href="{{ url_for('theme') }}" class="nav-link">Theme</a></li>

                    {% if current_user.admin %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrator
                        <span class="caret"></span></a>
                        
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('add_questions') }}" class="nav-link">Add Questions</a></li>
                            <li><a href="{{ url_for('add_set') }}" class="nav-link">Add Question Sets</a></li>
                            <li><a href="{{ url_for('add_users') }}" class="nav-link">Add User</a></li>
                        </ul>
                    </li>
                    {% endif %}
                
                    {% if current_user.is_anonymous %}
                    <!-- <li><a href="{{ url_for('login') }}" class="nav-link">Login</a></li> -->
                    <li><a href="{{ url_for('login') }}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                    {% else %}
                    <!-- <li><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li> -->
                    <li><a href="{{ url_for('logout') }}" class="nav-link"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>

        <!-- <div class="container"> -->
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class = "content text_basis">
        {% block content %}{% endblock %}
        </div>
        <!-- </div> -->
        <!-- Footer -->
        <div class="headfoot text_basis">
            <footer>
            <p>Created By: Adam, Craig and Swastik<br>Contact information: <a
                href="mailto:22556239@student.uwa.edu.au">
                Email-address</a></p>
            </footer>
        </div>
    </body>

</html>