{% extends "base.html" %}

{% block content %}
    <h1 class = important_heading>Hi {{current_user.username}} <br><br></h1>
    <p class = important><b>Current users in Database</b></p>
    <table>
        <tr>
            <th>Username</th>
            <th>Administrator</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.username }}</td>
            <td>{{user.admin}}</td>
        </tr>
        {% endfor %}
    </table>
    <p class="important"><br><b>Questions in Database</b></p>
    <table>
        <tr>
            <th>Question Number</th>
            <th>Question</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{question.question_id}}</td>
            <td>{{question.body }}</td>
        </tr>
        {% endfor %}
    </table>
    <p class="important"><br><b>Answers in Database:</b></p>
    <table>
        <tr>
            <th>Answer Number</th>
            <th>User</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        {% for answer in answers %}
        <tr>
            <td>{{answer.id}}</td>
            <td>{{answer.userId}}</td>
            <td>{{answer.questionId}}</td>
            <td>{{answer.answer}}</td>
        </tr>
        {% endfor %}
    </table>
    <p class="important"><br><b>Current User's Answers:</b></p>
    <table>
        <tr>
            <th>Answer Number</th>
            <th>User</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        {% for c_answer in c_answers %}
        <tr>
            <td>{{c_answer.id}}</td>
            <td>{{c_answer.userId}}</td>
            <td>{{c_answer.questionId}}</td>
            <td>{{c_answer.answer}}</td>
        </tr>
        {% endfor %}
    </table>
    <p class="important"><br><b>Question Sets in Database:</b></p>
    {% for set in questionSets %}
    <h4 style="text-decoration: underline;"> Set: {{set.set_name}}</h4>
    {% for q in set.questions %}
    <p>   - Questions: {{q.body}} </p>
    {% endfor %}
    {% endfor %}
    <p class="important"><b>Answer Sets in Database:</b></p>
    {% for set in answerSets %}
    <h4 style="text-decoration: underline;"> Set: {{set.set_id}}</h4>
    {% for a in set.answers %}
    <p>   - Answers: {{a.answer}} </p>
    {% endfor %}
    {% endfor %}
{% endblock %}