{% extends "base.html" %}

{% block content %}
    <h1>Hi {{current_user.username}} </h1>
    <p><b>Users in Database:</b></p>
    {% for user in users %}
    <p> - User {{user.id}}: {{user.username }}. Administrator = {{user.admin}} </p>
    {% endfor %}
    <p><b>Questions in Database:</b></p>
    {% for question in questions %}
    <p> - Question {{question.question_id}}: {{question.body }}</p>
    {% endfor %}
    <p><b>Answers in Database:</b></p>
    {% for answer in answers %}
    <p> - Answer {{answer.id}}: User {{answer.userId}} | Question {{answer.questionId}} | Answer {{answer.answer}}</p>
    {% endfor %}
    <p><b>current_user answers:</b></p>
    {% for c_answer in c_answers %}
    <p> - Answer {{c_answer.id}}: User {{c_answer.userId}} | Question {{c_answer.questionId}} | Answer {{c_answer.answer}}</p>
    {% endfor %}
    <p><b>Question Sets in Database:</b></p>
    {% for set in questionSets %}
    <h4> - Set: {{set.set_name}}</h4>
    {% for q in set.questions.all()%}
    <p>   - Question {{q.question_id}}: {{q.body }}</p>
    {% endfor %}
    {% endfor %}
{% endblock %}