{% extends "base.html" %}

{% block content %}
    <h1 class = important_heading>Hi {{current_user.username}} <br><br></h1>
    <p class = important><b>Current users in Database</b></p>
    <table>
        <tr>
            <th>Username</th>
            <th>Administrator</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.username }}</td>
            <td>{{user.admin}}</td>
        </tr>
        {% endfor %}
    </table>
    <p class="important"><br><b>Questions in Database</b></p>
    <table>
        <tr>
            <th>Question Number</th>
            <th>Question</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{question.question_id}}</td>
            <td>{{question.body }}</td>
        </tr>
        {% endfor %}
    </table>
    <p class="important"><br><b>Answers in Database:</b></p>
    {% for answer in answers %}
    <p> - Answer {{answer.id}}: User {{answer.userId}} | Question {{answer.questionId}} | Answer {{answer.answer}}</p>
    {% endfor %}
    <p class="important"><br><b>current_user answers:</b></p>
    {% for c_answer in c_answers %}
    <p> - Answer {{c_answer.id}}: User {{c_answer.userId}} | Question {{c_answer.questionId}} | Answer {{c_answer.answer}}</p>
    {% endfor %}
    <p class="important"><br><b>Question Sets in Database:</b></p>
    {% for set in questionSets %}
    <h4> - Set: {{set.set_name}}</h4>
    {% for q in set.questions %}
    <p>   - Questions: {{q.body}} </p>
    {% endfor %}
    {% endfor %}
    <p><b>Answer Sets in Database:</b></p>
    {% for set in answerSets %}
    <h4> - Set: {{set.set_id}}</h4>
    {% for a in set.answers %}
    <p>   - Answers: {{a.answer}} </p>
    {% endfor %}
    {% endfor %}
{% endblock %}